= simple_form_for survey,
  url: survey.new_record? ? surveys_pulses_path : surveys_pulse_path(survey),
  html: { class: 'info-form inner' } do |f|
  fieldset
    = f.label :title, class: 'heading'
    .row
      = f.input_field :title,
        class: 'style05',
        value: survey.set_title(@offered_survey, survey.company),
        autofocus: true
      = f.error :title

    span.heading = t('surveys.form.survey_period')

    /.block
      .row-holder.clearfix
        = f.radio_button :repeat, false,
          class: 'radio checkable'
        = f.label :repeat, t('simple_form.labels.surveys.once')

    .block
      /.row-holder.clearfix
        = f.radio_button :repeat, true,
          class: 'radio checkable',
          checked: true
        = f.label :repeat, t('simple_form.labels.surveys.repeat')
      .block-frame
        = f.input :start_on, as: :string,
          label_html: { class: 'style01' },
          input_html: { class: 'schedule-setter',
                        class: survey.started? ? 'started' : 'survey_start_on',
                        value: survey.set_start_on },
          hint: survey.set_hint_for_start_on,
          readonly: true
        = f.error :start_on
        br

        = f.input :time, as: :string,
          label_html: { class: 'style01' },
          input_html: { value: survey.set_time },
          readonly: true
        = f.error :time
        = f.error :start_at
        br

        = f.input :repeat_every,
          input_html: { class: 'selectable schedule-setter',
                        min: 1, max: 365,
                        value: f.object.repeat_every || 1 },
          label_html: { class: 'style01' },
          hint_html: { id: 'repeat-every-hinter' }

        = f.input :repeat_mode,
          collection: [[t('surveys.form.days'), 'd'],
                       [t('surveys.form.weeks'), 'w']],
          label: false,
          input_html: { class: 'schedule-setter' },
          include_blank: false
        br

        = f.input :finish_on, as: :string,
          label_html: { class: 'style01' },
          input_html: { class: 'schedule-setter',
                        value: survey.set_finish_on },
          readonly: true
        = f.error :finish_on
        br

        = f.input :number_of_repeats,
          input_html: { class: 'selectable' },
          label_html: { class: 'style01' },
          readonly: true
        = f.error :number_of_repeats
        <br><br>

      = f.input :message,
        label_html: { class: 'style01' },
        wrapper_html: { class: 'row' },
        input_html: { class: 'style01' }
      = f.error :message

    = f.input :employee_ids,
      collection: survey.company.employees.order(:name),
      wrapper_html: { class: 'size01' },
      label_html: { class: 'style01' },
      input_html: { multiple: true, id: 'employee_ids' },
      placeholder: t('simple_form.placeholders.company_survey.employee_ids'),
      include_blank: false
    <br><br>

    = render 'offered_questions',
      questions: offered_questions,
      survey: survey,
      f: f

  .btns-holder.clearfix
    .btns
      = link_to t('helpers.links.destroy'),
        surveys_pulse_path(survey),
        method: :delete,
        id: 'delete-survey',
        data: { confirm: t('helpers.links.confirm') }\
        unless survey.new_record?
      = f.submit class: 'btn-save'
