@font-face {
	font-family: 'freightsans_mediumscregular';
	src: font-url('freightsans_mediumsc-webfont.eot');
	src: font-url('freightsans_mediumsc-webfont.eot?#iefix') format('embedded-opentype'),
	font-url('freightsans_mediumsc-webfont.woff2') format('woff2'),
	font-url('freightsans_mediumsc-webfont.woff') format('woff'),
	font-url('freightsans_mediumsc-webfont.ttf') format('truetype'),
	font-url('freightsans_mediumsc-webfont.svg#freightsans_mediumscregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'freightsans_mediumregular';
	src: font-url('freightsans_medium-webfont.eot');
	src: font-url('freightsans_medium-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('freightsans_medium-webfont.woff2') format('woff2'),
		font-url('freightsans_medium-webfont.woff') format('woff'),
		font-url('freightsans_medium-webfont.ttf') format('truetype'),
		font-url('freightsans_medium-webfont.svg#freightsans_mediumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'freightsans_bookscregular';
	src: font-url('freightsans_booksc1-webfont.eot');
	src: font-url('freightsans_booksc1-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('freightsans_booksc1-webfont.woff2') format('woff2'),
		font-url('freightsans_booksc1-webfont.woff') format('woff'),
		font-url('freightsans_booksc1-webfont.ttf') format('truetype'),
		font-url('freightsans_booksc1-webfont.svg#freightsans_bookscregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'freightsans_lightitalicRg';
	src: font-url('freightsans_lightitalic1-webfont.eot');
	src: font-url('freightsans_lightitalic1-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('freightsans_lightitalic1-webfont.woff2') format('woff2'),
		font-url('freightsans_lightitalic1-webfont.woff') format('woff'),
		font-url('freightsans_lightitalic1-webfont.ttf') format('truetype'),
		font-url('freightsans_lightitalic1-webfont.svg#freightsans_lightitalicRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	margin:0;
	color:#343838;
	font:19px/23px 'freightsans_mediumregular', Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:904px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
html, body{height:100%;}
img{border-style:none;}
a{text-decoration:none; color:#fcb331;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% 'freightsans_mediumregular', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
input[type=tel],
input[type=email],
textarea,
input[type=text]{outline:none}
input[type=submit]:hover{cursor:pointer;}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
body.inner{background:#fff;}
h1{
	text-transform:uppercase;
	font:39px/40px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#f26522;
	margin:0 0 13px;
}
p{margin:0 0 10px;}
.wrapper-holder{
	position:relative;
	width:100%;
	height:100%;
}
#wrapper{
	margin:0 auto ;
	display:table;
	height:100%;
	overflow:hidden;
	width:100%;
	padding:0 0 45px;
}
.w1{
	width:100%;
    display:table-row;
}
.home .logo{
	display:block;
	margin:0 auto 142px;
}
.home.inner .logo{margin-bottom:57px;}
.home .logo img{display:block;}
.home #main{
	padding:234px 33px 9999px 33px;
	width:838px;
	margin:0 auto -9999px;
	background:image-url("bg-section");
}
.main{
	background:image-url("bg-section");
	padding:0 33px 9999px 33px;
	width:838px;
	margin:0 auto -9999px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.inner .main{background:none;}
.home.inner #main{padding-top:66px;}
.btns{text-align:center;}
.btns .holder{margin:0 0 53px;}
.btns .btn{
	display:inline-block;
	vertical-align:top;
	color:#fff;
	font:14px/20px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	background:#f26522;
	border-radius:10px;
	padding:6px 10px 6px 30px;
	position:relative;
	text-transform:uppercase;
	margin:0 6px;
	width:71px;
	letter-spacing:1px;
	text-align:center;
}
.btns .btn:hover{
	text-decoration:none;
	background:#ad3114;
}
.btns .btn:after{
	content:'';
	position: absolute;
	width:27px;
	height:28px;
	background:image-url("sprite") no-repeat ;
	top:2px;
	left:3px;
}
.btns .btn-login{background:#fcaf17;}
.btns .btn-login:after{
	background-position:-44px 0;
}
.btn-about{
	display:block;
	margin:0 auto 30px;
	background:#b6b6b6;
	color:#fff;
	text-transform:uppercase;
	font:9px/17px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	padding:0 8px 0 22px;
	position:relative;
	width:30px;
	border-radius:8px;
}
.btn-about:after{
	content:'';
	position: absolute;
	width:15px;
	height:15px;
	background:image-url("sprite") no-repeat 0 -46px;
	left:2px;
	top:1px;
}
.login-form{
	width:273px;
	margin:0 auto;
	text-align:left;
	padding:0 0 0 10px;
}
.login-form label{
	display:block;
	text-transform:uppercase;
	color:#f26522;
	letter-spacing:1px;
	margin:0 0 2px 5px;
	font:12px/14px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.login-form input[type="password"],
.login-form input[type="text"]{
	display:block;
	width:100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#fff;
	border:1px solid #c1c1c2;
	border-radius:8px;
	padding:6px 5px;
	font-size:13px;
	line-height:17px;
	height:31px;
	margin:0 0 5px;
	margin:0 0 20px;
}
.login-form .btn-login{
	margin:0 auto 20px;
	display:block;
}
.login-form .btn-login:hover{background:#bb5b07;}
.login-holder{
	padding-top:6px;
	padding-bottom:28px;
}
.btns .heading{
	display:block;
	color:#f26522;
	letter-spacing:1px;
	margin:0 0 10px;
	font:12px/14px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.btns .frame{padding-bottom:100px;}
.btns .frame .btn-about{
	display:inline-block;
	vertical-align:top;
	margin:15px 14px 0 0;
}
.w2{
	height:1%;
	display:table-row;
}
.w3{ display:table-cell;}
.text-holder{
	padding:0 20px;
	margin:0 0 100px;
}
#header{
	background:#343838;
	padding:15px 9999px 11px;
	margin:0 -9999px;
}
#header .logo{
	float:left;
	margin:0 36px 0 0;
}
#header .links{
	padding:0;
	margin:0;
	list-style:none;
	text-transform:uppercase;
	float:left;
	letter-spacing:2px;
	font:14px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
#header .links.alignright{
	float:right;
	padding:0 24px 0 0 ;
}
/*.links.alignright li{margin:0 0 0 81px;}*/
.links li{
	position:relative;
	float:left;
	margin:0 0 0 60px;
}
.links.alignright li:first-child,
.links li:first-child{margin:0;}
.links a{
	position:relative;
	padding:18px 16px 13px 36px;
	margin:-18px -16px -13px -36px;
}
.links a:hover{
	text-decoration:none;
	color:#fcb331;
}
.links > li > a:after{
	content:'';
	position: absolute;
}
.links > li:hover > a,
.links > li > a:hover{
	background:#526262;
}
.links .company a{
	padding-left:16px;
	margin-left:-16px;
}
.links .dashboards a:after{
	background:image-url("sprite") no-repeat 0 -71px;
	width:20px;
	height:15px;
	top:19px;
	left:7px;
}
.links .surveys a:after{
	background:image-url("sprite") no-repeat -105px -69px;
	width:12px;
	height:14px;
	left: 18px;
	top: 19px;
}
.links .username a:after{
	background:image-url("sprite") no-repeat -45px -71px;
	width:12px;
	height:12px;
	left:14px;
	top: 20px;
}
.links .lang a:after{
	background:image-url("sprite") no-repeat -27px -71px;
	width:13px;
	height:14px;
	left: 13px;
	top: 20px;
}
.links .drop{
	position:absolute;
	top:100%;
	left: -17px;
	padding: 7px 0 0;
	line-height:15px;
	display:none;
}
.links li:hover .drop{display:block;}
.links.alignright .drop ul li,
.links .drop ul li{margin:0 0 3px;}
.links ul{
	padding:11px 25px 9px;
	margin:0;
	width:100px;
	list-style:none;
	font-size:14px;
	color:#fcb331;
	background:#0d8690;
	text-transform:none;
	position:relative;
}
.links ul:after{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 0 18px;
	border-color: transparent transparent transparent #0d8690;
	left:0;
	top:-8px;
}
.links.alignright ul li,
.links ul li{
	float:none;
	margin:0;
}
.links ul li a{
	display:block;
	padding:0 15px 0 5px;
	margin:0 -15px 0 -5px;
}
.links ul li a:hover{
	background:#285b5f;
}
.inform-panel{
	padding:48px 0 0;
	margin:0 0 10px;
}
.inform-panel h1{
	position:relative;
	float:left;
	margin:0 20px 0 0;
	text-transform:uppercase;
	color:#f6881f;
	letter-spacing:2px;
	font:30px/40px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.inform-panel h1.results{padding:0 0 0 42px;}
.inform-panel h1.results:after{
	content:'';
	position: absolute;
	width:34px;
	height:35px;
	background:image-url("sprite") no-repeat -185px 0;
	top:0;
	left:0;
}
.inform-panel h1 a{
	position:relative;
	color:#f6881f;
	padding:0 0 0 40px;
}
.inform-panel h1 a:after{
	content:'';
	position: absolute;
	width:32px;
	height:33px;
	background:image-url("sprite") no-repeat -89px 0;
	top:2px;
	left:0;
}
h1.inner{
	font-size:39px;
	line-height:40px;
	color:#f6881f;
	padding:13px 0 0;
}
.inform-panel h1.inner{padding:0;}
.search-form{
	float:right;
	background:#fff;
	border:1px solid #6d6e70;
	border-radius:8px;
	padding:3px 5px 3px 8px;
	margin:8px 0 0;
}
input[type="submit"].search,
.search-form input[type="submit"]{
	float:left;
	border:none;
	background:image-url("sprite") no-repeat 0 -98px;
	width:21px;
	height:21px;
	padding:0;
	margin:0;
	text-indent:-9999px;
	overflow:hidden;
}
.col input[type="submit"].search{
  float:right;
  margin:7px -31px 0 0;
}
.search-form input[type="text"]{
	float:right;
	background:#fff;
	border:none;
  padding: 2px 5px 3px;
	width: 178px;
	font-size:13px;
	line-height:17px;
	color:#6d6e70;
}
.sort-panel{
	background:#f19926;
	border-radius:8px;
	padding:0 5px 2px 10px;
	letter-spacing:2px;
	margin:0 0 2px;
	font:13px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.sort-panel a{color:#fff;}
.col{
	display:inline-block;
	vertical-align:top;
	padding:0 23px;
}
.sort-panel .col{
	height:35px;
	white-space:nowrap;
}
.sort-panel .col:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.sort-panel .col span,
.sort-panel .col a{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
	position:relative;
	color:#fff;
}
.sort-panel .col a:after{
	content:'';
	position: absolute;
	width:16px;
	height:14px;
	background:image-url("sprite") no-repeat 0 -126px;
	top:50%;
	margin-top:-7px;
	left:-22px;
}
.col01{width:230px;}
.col02{width:115px;}
.col03{width:98px;}
.col.col04{
	width:151px;
	padding-right:13px;
}
.col.col05{padding:0;}
.btn-settings{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:image-url("sprite") no-repeat -93px -39px;
	width:24px;
	height:20px;
	margin:2px 0 0;
}
.filter-form .panel{
	text-align:right;
	color:#0d8690;
	font:13px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	letter-spacing:2px;
	padding:0 10px 4px 0;
}
.filter-form .panel .link-upload,
.filter-form .panel a{
	color:#f26522;
	margin:0 0 0 8px;
	cursor:pointer;
}
.filter-form .panel .link-select{color:#0d8690;}
.filter-form .row{
	background:#fff;
	border:1px solid #6d6e70;
	border-radius:9px;
	color:#343838;
	 margin: 0 0 18px;
    padding: 8px 0 4px;
	font:20px/24px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.filter-form .row .title{
	text-transform:uppercase;
	color:#f26522;
	font-size:15px;
	line-height:24px;
}
.filter-form .row .col02,
.filter-form .row .col03{text-align:center;}
.filter-form .row .jq-checkbox{margin:-7px 0 0 15px;}
.pagination{
	padding:29px 0;
	margin:0;
	list-style:none;
	text-align:center;
	font:21px/24px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#343838;
}
.pagination span{
	display:inline-block;
	vertical-align:top;
	margin:0 9px;
}
.pagination a{color:#343838;}
.pagination .current,
.pagination a:hover{
	text-decoration:none;
	color:#f26522;
}
.info-form .row{
	padding:0 10px 0 0;
	margin:0 0 11px;
}
.info-form .row:after{
	content:'';
	clear:both;
	display:block;
}
.info-form .label-holder{
	float:left;
	width:264px;
	margin:0 10px 0 0;
}
.info-form label{
	text-transform:uppercase;
	color:#f26522;
	display:inline-block;
	vertical-align:top;
	margin:5px 0 0 66px;
	letter-spacing:2px;
	font:18px/25px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.info-form textarea,
.info-form input[type=text]{
	float:left;
	background:#fff;
	border:1px solid #6d6e70;
	border-radius:8px;
	font-size:13px;
	line-height:15px;
	width:247px;
	padding:7px 50px 5px 73px;
	color:#343838;
	font:18px/25px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing:2px;
}
.info-form textarea{
	overflow:auto;
	resize:none;
	height:260px;
}
.info-form .btn-save{
	background:#f26522;
	border-radius:9px;
	position:relative;
	color:#fff;
	text-transform:uppercase;
	padding:5px 27px 5px 47px;
	float:right;
	font-size:15px;
	line-height:22px;
	margin: 3px 18px 0 0;
	letter-spacing:1px;
}
.info-form .btn-save:hover{
	text-decoration:none;
	background:#ad3114;
}
.info-form .btn-save:after{
	content:'';
	position: absolute;
	width:26px;
	height:26px;
	top:3px;
	left:3px;
	background:image-url("sprite") no-repeat -32px -39px;
}
.info-form{padding:59px 0 0;}
.info-form .btn-holder{padding:59px 0 22px;}
.block-info{padding:11px 0 0;}
.block-info .panel{
	background:#f19926;
	overflow:hidden;
	padding:5px 5px 2px;
	border-radius:8px;
	font:18px/31px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 0 4px;
}
.block-info .panel .heading{
	float:left;
	position:relative;
	padding:0 0 0 40px;
	letter-spacing:2px;
	width:630px;
}
.block-info .panel .heading:after{
	content:'';
	position: absolute;
	width:28px;
	height:29px;
	background:image-url("sprite") no-repeat -120px -95px;
	top:0;
	left:0;
}
.block-info .panel .btn-settings{
	float:right;
	margin:5px 5px 0 0;
}
.block-info .box{
	background:#fff;
	border:1px solid #979899;
	border-radius:8px;
	padding:6px 22px 24px 42px;
	overflow:hidden;
	margin:0 0 45px;
}
.block-info .box .holder{
	float:left;
	width:271px;
	margin:0 8px 0 0;
}
.block-info .box .graph-holder{
	overflow:hidden;
	padding:29px 0 0;
}
.block-info .box .info{
	display:block;
	font:21px/23px 'freightsans_bookscregular', Arial, Helvetica, sans-serif;
	color:#8a8a8a;
	letter-spacing:2px;
	margin:0 0 16px;
}
.graph-holder img{display:block;}
.block-info .box .frame:after{
	content:'';
	clear:both;
	display:block;
}
.block-info .box .value{
	color:#8a8a8a;
	float:left;
	margin:-16px 0 0;
	font:94px/100px 'freightsans_bookscregular', Arial, Helvetica, sans-serif;
}
.current-icon{
	float:left;
	width:62px;
	height:62px;
	margin:0 46px 0 0;
	text-indent:-9999px;
	overflow:hidden;
}
.current-icon.normal{background:image-url("icon01") no-repeat;}
.current-icon.bad{background:image-url("icon03") no-repeat;}
.current-icon.good{background:image-url("icon02") no-repeat;}
.icons{
	padding:0;
	margin:0;
	list-style:none;
}
.icons li{
	display:inline-block;
	vertical-align:top;
	margin:0 10px 0 0;
}
.icons img{display:block;}
.configurator{display:none;}
.demo i{
	right:0;
	bottom:auto;
	top:3px;
}
.demo{overflow:hidden;}
.form-control{
	background:image-url("ico-calendar") no-repeat 100% 7px;
	border-radius:0;
	border:none;
	-moz-box-shadow:none;
	box-shadow: none;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
.form-control{color:#fff;}
.form-control:focus{
	-moz-box-shadow:none;
	box-shadow: none;
}
.daterangepicker.opensright:after,
.daterangepicker.opensright:before{
	border:none;
}
.daterangepicker{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.inform-panel h1.company-name{
	padding:0 0 0 40px;
}
.inform-panel h1.company-name:after{
	content:'';
	position: absolute;
	width:31px;
	height:33px;
	background:image-url("sprite") no-repeat 0 -150px;
	top:0;
	left:0;
}
.filter-form .link-add,
.filter-form .link-upload,
.filter-form .link-add-new{
	float:left;
	font-size:18px;
	line-height:13px;
	font-family:"freightsans_mediumscregular";
	text-transform:uppercase;
	color:#fff !important;
	background:#f19926;
	position:relative;
	border-radius:9px;
	margin: 0 7px 0 0;
	padding:13px 10px 12px 49px;
	text-align:left;
	text-transform:none;
}
.filter-form .link-upload:hover,
.filter-form .link-add-new:hover{
	text-decoration:none;
	background:#bb5b07;
}
.filter-form .link-add{
	background:#0d8690;
	padding:7px 10px 5px 50px;
}
.filter-form .link-add:hover{
	text-decoration:none;
	background:#285b5f;
}
.filter-form .link-add:after,
.filter-form .link-upload:after,
.filter-form .link-add-new:after{
	content:'';
	position: absolute;
	width:30px;
	height:29px;
	background:image-url("sprite") no-repeat -37px -150px;
	top:5px;
	left:7px;
}
.add-holder{
	float:left;
	position:relative;
	margin:0 0 0 7px;
}
.filter-form .add-holder .link-add{
	margin:0;
	border-radius:9px;
	background:#0d8690 image-url("sprite") no-repeat 5px -405px;
}
.filter-form .add-holder:hover a.link-add{background:#285b5f image-url("sprite") no-repeat 5px -405px;}
.add-holder input[type="submit"].link-add{
	width:178px;
	height:38px;
	border:none;
	color:#fff;
	background:none;
	margin:0;
	font:18px/13px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.filter-form .link-add-new.survey:after{
	background-position:-101px -247px;
}
.filter-form .link-upload:after{
	background-position:-71px -150px;
}
.filter-form .link-add:after{background-position:-108px -150px;}
.filter-form .panel .all-holder{
	float:right;
	padding:23px 52px 0 0;
}
.filter-form .panel .all-holder .jq-checkbox{margin-top:-5px;}
.filter-form .panel .all-holder label{
	font-size:19px;
	line-height:21px;
	color:#0d8690;
}
.filter-area{
	border:1px solid #78797a;
	padding:4px;
	border-radius:13px;
	margin:0 0 50px;
}
.filter-area .sort-panel{
	background:#343838;
	padding:0;
}
.filter-area .col01{width:185px;}
.filter-area .col02{width:194px;}
.filter-area .col03{width:173px;}
.filter-area .row .col03{
	width:208px;
	padding-right:13px;
}
.filter-area .row{
	border:none;
	border-bottom:1px solid #343838;
	border-radius:0;
	font-size:15px;
	line-height:17px;
	padding:12px 0 10px;
	margin:0;
}
.filter-area .row .jq-checkbox{
	float:right;
	margin:0 4px 0 0;
}
.added{float: right}
.filter-area .col{padding:0 44px;}
.filter-area .row .col02,
.filter-area .row .col03{text-align:left;}
.filter-area .row .title{
	text-transform:none;
	color:#343838;
}
.filter-area .row.warning{
	background:#f05555;
	color:#fff;
	font-size:10px;
	line-height:12px;
	padding:0 45px;
	border:none;
	margin:2px 0 0;
}
.filter-area .warn{
	position:relative;
	letter-spacing:2px;
}
.filter-area .warn:after{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #fff transparent transparent transparent;
	left:-14px;
	top:3px;
}
.filter-form .bottom-panel{position:relative;}
.filter-form .bottom-panel .btns{
	position:absolute;
	right: 8px;
	top: 30px;
}
.filter-form .btn-delete{
	float:left;
	color:#fff;
	font:10px/12px 'freightsans_bookscregular', Arial, Helvetica, sans-serif;
	background:#811517;
	margin:0 5px 0 0;
	border-radius:13px;
	letter-spacing:2px;
	padding:16px 3px ;
	margin:-3px 7px 0 0;
}
.filter-form .btn-delete:hover{
	text-decoration:none;
	background:#580507;
}
.info-form .heading{
	display:block;
	font:18px/20px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	margin:0 0 8px;
	color:#f26522;
	letter-spacing:1px;
}
.info-form.inner{padding:14px 0 0 100px;}
.info-form input[type="text"].style05{width:445px;}
.info-form.inner .row{margin:0 0 31px;}
.info-form .row-holder{
	padding:0 0 0 49px;
	margin:0 0 4px;
}
.info-form .row-holder label{
	margin:0;
	text-transform:none;
	line-height:18px;
}
.info-form .block{padding:6px 0 0;}
.info-form .block-frame:after{
	content:'';
	clear:both;
	display:block;
}
.info-form .block-frame{padding:0 0 0 175px;}
.info-form .block-frame input[type="text"]{
	float:none;
	display:block;
	margin:0 0 6px;
}
.info-form input[type="text"].style01{
	padding: 4px;
    width: 277px;
}
.info-form input[type="text"].style02{
	padding: 1px 4px;
	width: 85px;
	line-height:20px;
}
.info-form input[type="text"].style03{
	padding: 1px 4px;
	width: 38px;
	line-height:20px;
	float:left;
	margin:-3px 8px 0 0;
}
.info-form input[type="text"].style04{
	padding: 1px 4px;
	width: 85px;
	line-height:20px;
}
.info-form input[type="text"].style06{
	padding:2px 4px;
    width: 277px;
}
.info-form label.style01,
.info-form .label{
	display:block;
	float:none;
	margin:0 0 2px;
	color:#383c3c;
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-transform:none;
	 letter-spacing: 2px;
}
.jq-selectbox.sel01{
	width:286px;
	margin:0 0 17px;
}
.jq-selectbox.sel01 .jq-selectbox__select{height:33px;}
.days{
	padding:10px 0 0;
	margin:0;
	list-style:none;
}
.days li{
	display:inline-block;
	vertical-align:top;
	margin:0 16px 0 0;
	width:30px;
	text-align:center;
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#f26522;
}
.days li label{
	margin:0;
	text-transform:none;
	font-size:14px;
}
.box .days .jq-checkbox{
	width:22px;
	height:22px;
	background-position:0 -188px;
}
.days .jq-checkbox {
	width: 16px;
	height: 16px;
	background-position:0 -225px;
}
.info-form .columns .col{
	padding:0;
	float:left;
	margin:0 25px 0 0;
}
.info-form .columns .col .row{margin:0 0 13px;}
.info-form .columns .col .row .label,
.info-form .columns .col .row label{
	margin:0 5px 0 0;
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-transform:none;
	 letter-spacing: 2px;
	 float:left;
	 color:#f26522;
}
.info-form .columns .col .row .jq-radio{float:left;}
.info-form .columns .col .row input[type="text"]{
	margin:-3px 8px 0 0;
	float:left;
}
.info-form textarea.style01{
	height: 66px;
	width: 443px;
	margin:0 10px 0 0;
}
.info-form .row .btn-holder{
	float:left;
	padding:3px 0 0;
	margin:0 -20px 0 0;
}
.info-form .row .btn-holder .add{
	background:#f26522;
	color:#fff;
	display:block;
	position:relative;
	padding:8px 15px 8px 47px;
	border-radius:9px;
	letter-spacing:2px;
	margin: 0 0 20px;
	font:15px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.info-form .row .btn-holder .add:hover{
	text-decoration:none;
	background:#ad3114;
}
.info-form .row .btn-holder .add:after{
	content:'';
	position: absolute;
	width:24px;
	height:25px;
	background:image-url("sprite") no-repeat 0 -247px;
	left:5px;
	top:5px;
}
.info-form .row  .link-clear{
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#0d8690;
	letter-spacing:2px;
}
.box.style01{
	border:1px solid #454949;
	padding:2px 10px 8px;
	border-radius:13px;
	margin:0 -10px;
}
.box.style01 .days{float:left;}
.box.style01 .days label{
	display:block;
	color:#343838;
	font:bold 34px/36px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	margin:0;
}
.box.style01 .btns{
	float:right;
	padding:17px 0 0;
}
.btn-undo,
.btn-edit,
.btn-delete{
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#fff;
	background:#0d8690;
	border-radius:13px;
	width:55px;
	height:52px;
	padding:0;
	float:left;
	margin:0 0 0 5px;
	letter-spacing:1px;
}
.btn-delete{line-height:52px;}
.btn-undo{
	background:#811517;
	line-height:52px;
}
.btn-undo:hover{
	background:#580507;
	text-decoration:none;
}
.btn-edit{
	padding:32px 0 0;
	height:20px;
	background:#f19926;
	position:relative;
}
.btn-edit:hover{
	text-decoration:none;
	background:#bb5b07;
}
.btn-edit:after{
	content:'';
	position: absolute;
	width:28px;
	height:29px;
	background:image-url("sprite") no-repeat -28px -247px;
	top:5px;
	left:12px;
}
.bottom-panel .btn-delete{
	line-height:44px;
	padding:0;
	height:44px;
	width:44px;
}
.btn-delete:hover{
	background:#285b5f;
	text-decoration:none;
}
.btns-holder{padding:34px 4px 12px;}
.btns-holder .btns{
	float:right;
	font:15px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	letter-spacing:2px;
	text-transform:uppercase;
}
.btn-send,
.btn-save{
	float:left;
	border-radius:13px;
	color:#fff;
	position:relative;
	padding:9px 20px 7px 46px;
	background:#0d8690;
	margin:0 0 0 10px;
	width:45px;
}
.btn-save{background:#f26522;}
.btn-save:hover{
	text-decoration:none;
	background:#ad3114;
}
.btn-send:hover{
	text-decoration:none;
	background:#285b5f;
}
.btn-save:after,
.btn-send:after{
	content:'';
	position: absolute;
	width:26px;
	height:26px;
	top:3px;
	left:5px;
	background:image-url("sprite") no-repeat -67px -247px;
}
.jq-selectbox.sel02{width:102px;}
.jq-selectbox.sel02 .jq-selectbox__select{
	padding:0 20px 0 10px;
	height:18px;
	text-transform:none;
	font:11px/18px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.jq-selectbox.sel02 .jq-selectbox__trigger-arrow{
	width:11px;
	height:11px;
	background-position:-80px -126px;
	top:4px;
	right:5px;
}
.jq-selectbox.sel02 li{
	padding:0 10px;
	min-height:10px;
}
.jq-selectbox.sel02 .jq-selectbox__dropdown{
	top:20px;
	padding:0;
	font:11px/18px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.jq-selectbox.sel02 ul{
	font:11px/18px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-align:left;
}
.jq-selectbox.sel02 .jq-selectbox__trigger{
	width:20px;
}
.filter-area table{
	border-collapse:collapse;
	width:100%;
	font:12px/13px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.filter-area th{
	color:#fff;
	background:#343838;
	padding:5px 10px;
	font:11px/13px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.filter-area th:first-child{
	border-radius:8px 0 0 8px;
}
.filter-area th:last-child{
	border-radius:0 8px 8px 0;
}
.filter-area td{
	padding:15px 10px;
	text-align:center;
}
.filter-area .number{
	font-size:15px;
}
.filter-area .col1{width:190px;}
.filter-area .alarm{
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	overflow:hidden;
	background:image-url("sprite") no-repeat -17px -276px;
	width:18px;
	height:22px;
}
.filter-area .alarm.active{background-position:0 -276px;}
.filter-area .btn-edit{
	text-indent:-9999px;
	overflow:hidden;
	background:image-url("sprite") no-repeat -42px -279px;
	width:34px;
	height:31px;
	margin:0 auto;
	display:inline-block;
	vertical-align:middle;
	padding:0;
}
.filter-area .btn-notify{
	text-indent:-9999px;
	overflow:hidden;
	background:image-url("sprite") no-repeat -94px -279px;
	width:34px;
	height:31px;
	margin:0 auto;
	display:inline-block;
	vertical-align:middle;
}
.filter-area .btn-results{
	text-indent:-9999px;
	overflow:hidden;
	background:image-url("sprite") no-repeat -149px -279px;
	width:34px;
	height:31px;
	margin:0 auto;
	display:inline-block;
	vertical-align:middle;
}
.filter-area td.col1{text-align:left;}
.filter-area .btn-edit:after{display:none;}
.colors{
	padding:8px 0 0 248px;
	margin:0;
	list-style:none;
	float:left;
	text-align:left;
}
.colors li{
	float:left;
	margin:0 6px 0 0;
}
.colors a{
	text-indent:-9999px;
	overflow:hidden;
	width:18px;
	height:18px;
	float:left;
	margin:0;
}
.filter-form .panel .colors a{margin:0;}
.colors .orange a{background:#f19926;}
.colors .red a{background:#f26522;}
.colors .green a{background:#0d8690;}
.colors .grey a{background:#dcdcdc;}
.colors .black a{background:#343838;}
.inform-panel.style01{margin:0 0 41px;}
.info-box.color{
	background:#0d8690;
	padding:18px 50px 20px;
	margin:0 -13px 30px;
	border-radius:13px;
	text-align:center;
	color:#fff;
	font:20px/24px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.info-box .heading{
	font-size:21px;
	display:block;
	margin:0 0 8px;
}
.info-box a{
	color:#fff;
	text-decoration:underline;
}
.info-box a:hover{text-decoration:none;}
.info-box .info{
	font-size:27px;
}
.info-box p{margin:0;}
.recommend-area .block-info{
	padding:0 0 0 48px;
}
.recommend-area .block-info .panel{
	float:left;
	margin: 8px 13px 0 0;
	width: 645px;
}
.send-block{
	width:568px;
	margin:0 auto;
	padding:7px 0 0;
}
.send-block .heading{
	display:block;
	letter-spacing:1px;
	margin:0 0 7px;
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.send-holder{
	border:1px solid #6d6e70;
	border-radius:13px;
	padding:18px 17px;
	min-height:168px;
	margin:0 0 10px;
}
.send-holder .users{
	padding:0;
	margin:0;
	list-style:none;
	color:#383c3c;
	font:15px/26px 'freightsans_lightitalicRg', Arial, Helvetica, sans-serif;
}
.users li{
	display:inline;
}
.users a{color:#383c3c;}
.send-block .link-clear{
	float:right;
	margin:0 5px 0 0;
	color:#0d8690;
	letter-spacing:2px;
	font:14px/16px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.time-holder{
	margin:0 auto 63px;
	width:480px;
	position:relative;
	padding:15px 0 0 80px;
	letter-spacing:2px;
	font:19px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.time-holder:after{
	content:'';
	position: absolute;
	width:41px;
	height:43px;
	background:image-url("sprite") no-repeat -193px -281px;
	left:18px;
	top:14px;
}
.time-holder .heading{
	display:block;
	font-weight:bold;
}
.btns.style01{margin:0 0 50px;}
.btn-dashboard,
.btn-blog,
.btn-create{
	display:inline-block;
	vertical-align:top;
	border-radius:13px;
	padding:10px 15px 9px 50px;
	position:relative;
	color:#fff;
	letter-spacing:1px;
	background:#f26522;
	margin:0 4px;
	min-width:73px;
	font:18px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.btn-dashboard:hover,
.btn-blog:hover{
	background:#ad3114;
	text-decoration:none;
}
.btn-create{background:#f19926;}
.btn-create:hover{
	background:#bb5b07;
	text-decoration:none;
}
.btn-dashboard:after,
.btn-blog:after,
.btn-create:after{
	content:'';
	position: absolute;
	width:28px;
	height:29px;
	background:image-url("sprite") no-repeat 0 -318px;
	top:5px;
	left:5px;
}
.btn-blog:after{
	background-position:-38px -318px;
	width:29px;
}
.btn-create:after{
	background-position:-81px -318px;
	width:30px;
	height:31px;
}
.link-back{
	display:inline-block;
	vertical-align:top;
	font-size:14px;
	color:#0d8690;
	text-transform:uppercase;
	font:11px/13px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.panel-holder .time-holder{
	float:left;
	margin:0;
	font-size:14px;
	line-height:17px;
	padding:4px 0 0 54px;
	width:auto;
}
.panel-holder .time-holder:after{
	background-position:-185px -46px;
	width:32px;
	height:34px;
	left:6px;
	top:4px;
}
.panel-holder .btns{
	float:right;
	padding:5px 0 0;
}
.panel-holder .btn-download,
.panel-holder .btn-edit{
	float:left;
	width:auto;
	position:relative;
	border-radius:8px;
	padding:9px 25px 9px 49px;
	margin:0 0 0 10px;
	color:#fff;
	text-transform:uppercase;
	background:#f19926;
	letter-spacing:1px;
	font:14px/20px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.panel-holder .btn-edit:hover{background:#bb5b07;}
.panel-holder .btn-download{background:#f26522;}
.panel-holder .btn-download:hover{
	text-decoration:none;
	background:#ad3114;
}
.panel-holder .btn-edit:after{
	top:3px;
	left:8px;
}
.panel-holder .btn-download:after{
	content:'';
	position: absolute;
	width:28px;
	height:29px;
	background:image-url("sprite") no-repeat -185px -99px;
	top:3px;
	left:8px;
}
.panel-holder{margin:0 0 44px;}
.columns{margin:0 0 30px;}
.columns .column{
	float:left;
	width:430px;
	margin:0 0 0 20px;
}
.columns .column:first-child{
	width:382px;
	margin:0;
}
.box.inner .current-icon{
	width:69px;
	height:69px;
	margin:14px 31px 0 0;
}
.box.inner .current-icon.normal{background:image-url("icon16") no-repeat;}
.box.inner .value{
	font:87px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	float:left;
	margin:0 17px 0 0;
}
.box.inner .info-holder{
	overflow:hidden;
	padding:17px 0 0;
}
.box.inner .info-holder .info{
	display:block;
	margin:0 0 8px;
	font:20px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.box.inner .info-holder .inform{
	font-style:italic;
	font:italic 20px/22px 'freightsans_mediumregular', Arial, Helvetica, sans-serif;
}
.box.inner .frame{
	border-bottom:1px solid #636466;
	margin:0 0 16px;
	padding:0 0 22px;
}
.box.inner .icons{
	text-align:center;
	font:20px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.box.inner .icons img{
	display:block;
	margin:0 0 11px;
}
.box.inner .icons li{margin:0 17px 0 0;}
.box.inner{margin:0 0 64px;}
.circle-chart img{display:block;}
.graph-holder{padding:13px 0 0;}
.graph-holder .block-graph{margin:0 0 42px;}
.graph-holder .block-graph img{display:block;}
#footer{
	color:#fff;
	font-size:10px;
	line-height:12px;
	letter-spacing:1px;
	text-align:left;
	display:table-footer-group;
	background:#0d8690;
	position:relative;
	z-index:5;
}
.footer-frame{
	background:#0d8690;
	padding:42px 9999px;
	margin:-42px -9999px;
	position:relative;
	z-index:10;
}
.footer-holder{
	padding:42px 0;
	width:800px;
	margin:0 auto;
	position:relative;
}
.footer-logo{
	display:block;
	margin:0 auto 21px;
}
.footer-holder .filter-holder{
	position:absolute;
	top:-28px;
	right:0;
	width:390px;
	border:1px solid #757678;
	border-radius:13px;
	background:#fff;
	z-index:-1;
}
.footer-holder .filter-holder:hover .info-form{display:block;}
.footer-holder .filter-holder:hover{
	top:-205px;
	z-index:1;
}
.footer-holder .info-form{display:none;}
.footer-holder .filter-holder .title{
	display:block;
	color:#f26522;
	text-align:center;
	background:#dcdbdb;
	border:1px solid #757677;
	border-radius:13px;
	padding:4px 10px;
	margin:-1px -1px 0;
	font:18px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
}
.filter-holder .info-form{
	padding:10px 13px;
}
.filter-holder .info-form .label-holder{
	float:left;
	margin: 11px 10px 0 0;
	width: 110px;
}
.filter-holder .info-form .label-holder label{
	margin:0;
	font:14px/22px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	color:#343838;
}
#footer p{margin:0;}
.jq-checkbox {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	cursor: pointer;
	margin:0 auto;
	overflow:visible !important;
	background:image-url("sprite") no-repeat -75px -69px;
}
.jq-checkbox.checkable{
	width:22px;
	height:22px;
	background-position:0 -188px;
}
.jq-checkbox.checked.checkable .jq-checkbox__div{margin:-4px 0 0 2px;}
.jq-checkbox.checked .jq-checkbox__div {
	width: 26px;
	height: 20px;
	margin:-5px 0 0;
	background:image-url("sprite") no-repeat -32px -99px;
}
.jq-checkbox.focused {
	border: 1px solid #08C;
}
.jq-checkbox.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}
.jq-radio {
	width:16px;
	height:16px;
	background:image-url("sprite") no-repeat 0 -225px;
	cursor: pointer;
	margin:0 6px 0 0;
}
.jq-radio.checked .jq-radio__div {
	width:6px;
	height:6px;
	border-radius:50%;
	margin:5px 0 0 5px;
	background:#0d8690;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	width:372px;
}
.jq-selectbox.sel03{
	width:234px;
	border-radius:13px;
}
.jq-selectbox__select {
	height: 38px;
	border:1px solid #6d6e70;
	padding:0 45px 0 72px;
	color:#6d6e70;
	background:#fff;
	border-radius:8px;
	font:18px/38px 'freightsans_mediumscregular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.jq-selectbox.sel04{
	width:180px;
	position:relative;
}
.jq-selectbox.sel04:after{
	background: rgba(0, 0, 0, 0) image-url("sprite") no-repeat scroll 0 -126px;
	content: "";
	height: 14px;
	left: -22px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	width: 16px;
}
.jq-selectbox.sel04 .jq-selectbox__select{
	font: 13px/16px "freightsans_mediumscregular",Arial,Helvetica,sans-serif;
	letter-spacing:2px;
	color:#fff;
	border:none;
	padding:0;
	margin:0;
	background:none;
	height:auto;
}
.jq-selectbox.sel04 .jq-selectbox__trigger-arrow{display:none;}
.jq-selectbox.sel03 .jq-selectbox__select{border-radius:13px;}
.info-form.inner .jq-selectbox__select{padding-left:12px;}
.jq-selectbox__select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.jq-selectbox__select:active {
	background: #F5F5F5;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100% !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	right: 15px;
	top: 9px;
	width: 19px;
	height:19px;
	background:image-url("sprite") no-repeat -77px -100px;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox__dropdown {
	top: 40px;
	width: 100%;
	border-radius:8px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background:#fcaf17;
	padding:26px 12px;
	position:relative;
}
/*.jq-selectbox__dropdown:after{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	top:-18px;
	right:0;
	border-width: 0 0 18px 18px;
	border-color: transparent transparent #fcaf17 transparent;
}*/
.jq-selectbox.sel04 .jq-selectbox__dropdown{
	background:#fff;
	border:1px solid #78797a;
	top:16px;
	padding:5px;
}
.jq-selectbox.sel04 .jq-selectbox__dropdown ul{
	font: 13px/16px "freightsans_mediumscregular",Arial,Helvetica,sans-serif;
}
.jq-selectbox.sel04 .jq-selectbox__dropdown li{padding:2px;}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
	font: 18px/20px "freightsans_mediumscregular",Arial,Helvetica,sans-serif;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 4px 70px;
	color: #343838;
}
.info-form.inner .jq-selectbox li{padding-left:12px;}
.jq-selectbox li.selected {
	background-color: #ffde9d;
	color: #343838;
}
.jq-selectbox li:hover {
	background-color: #ffde9d;
	color: #343838;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}

::-webkit-input-placeholder {color:#6d6e70;}
:-moz-placeholder {color:#6d6e70;}
::-moz-placeholder {
	color:#6d6e70;
	opacity: 1;
}
:-ms-input-placeholder {color:#6d6e70;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder{color: transparent}
:focus:-moz-placeholder{color: transparent}
