/*
 *= require select2
 *= require jquery.datetimepicker.css
 *= require jquery-ui/dialog
 *= require_tree .
 *= require_self
 */

/*
body { padding-top: 70px; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
*/
.alert {
  padding: 15px;
  border: 1px solid transparent;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgba(202, 192, 184, 0.99);
  z-index: 1;
}
