= simple_form_for survey,
  url: survey.new_record? ? surveys_email_surveys_path : surveys_email_survey_path(survey),
  html: { class: 'info-form inner' } do |f|
  fieldset
    = f.label :title, class: 'heading'
    .row
      = f.input_field :title,
        class: 'style05',
        value: survey.set_title(@offered_survey, survey.company),
        autofocus: true
      = f.error :title

    span.heading = t('surveys.form.survey_period')

    /.block
      .row-holder.clearfix
        = f.radio_button :repeat, false,
          class: 'radio checkable'
        = f.label :repeat, t('simple_form.labels.surveys.once')

    .block
      /.row-holder.clearfix
        = f.radio_button :repeat, true,
          class: 'radio checkable',
          checked: true
        = f.label :repeat, t('simple_form.labels.surveys.repeat')
      .block-frame
        = f.input :locale, as: :hidden,
          input_html: { value: I18n.locale.to_s }

        = f.simple_fields_for :email_schedule do |es|
          = es.input :start_on, as: :string,
            label: t("simple_form.labels.email_schedule.start_on",
                      timezone: @company.timezone),
            label_html: { class: 'style01' },
            input_html: { class: survey.started? ? 'started' : 'survey_start_on schedule-setter',
                          id: 'survey_start_on',
                          value: survey.set_start_on },
            hint: survey.set_hint_for_start_on,
            readonly: true
          = es.error :start_on
          br

          = es.input :time, as: :string,
            label_html: { class: 'style01' },
            input_html: { value: survey.set_time,
                          class: 'survey_time' },
            readonly: true
          = es.error :time
          br

          = es.input :repeat_every,
            input_html: { class: 'selectable survey_repeat_every schedule-setter',
                          min: 1, max: 365,
                          value: es.object.repeat_every || 1 },
            label_html: { class: 'style01' },
            hint_html: { id: 'repeat-every-hinter' }

          = es.input :repeat_mode,
            collection: [[t('surveys.form.days'), 'd'],
                         [t('surveys.form.weeks'), 'w']],
            label: false,
            input_html: { class: 'survey_repeat_mode schedule-setter' },
            include_blank: false
          br

          = es.input :finish_on, as: :string,
            label_html: { class: 'style01' },
            input_html: { class: 'survey_finish_on schedule-setter',
                          value: survey.set_finish_on },
            readonly: true
          = es.error :finish_on
          br

          = es.input :number_of_repeats,
            input_html: { class: 'survey_number_of_repeats selectable' },
            label_html: { class: 'style01' },
            readonly: true
          = es.error :number_of_repeats
          <br><br>

      = f.input :message,
        label_html: { class: 'style01' },
        wrapper_html: { class: 'row' },
        input_html: { class: 'style01' }
      = f.error :message

    = f.input :employee_ids,
      collection: survey.company.employees.order(:name),
      wrapper_html: { class: 'size01' },
      label_html: { class: 'style01' },
      input_html: { multiple: true, id: 'employee_ids' },
      placeholder: t('simple_form.placeholders.company_survey.employee_ids'),
      include_blank: false
    <br><br>

    = render 'offered_questions',
      questions: offered_questions,
      survey: survey,
      f: f

  .btns-holder.clearfix
    .btns
      = link_to t('helpers.links.destroy'),
        surveys_email_survey_path(survey),
        method: :delete,
        id: 'delete-survey',
        data: { confirm: t('helpers.links.confirm') }\
        unless survey.new_record?
      = f.submit class: 'btn-save'
